		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet sint, rem mollitia ipsa pariatur culpa id, minus similique incidunt perspiciatis quidem magni quasi laborum magnam dolores ratione. Quasi, non, voluptatum.</p>

		<h2>Títulos, párrafos, citas y elementos en línea</h2>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta accusamus, illo enim, temporibus sapiente earum? Perspiciatis repellat atque et quam, sequi consequatur. Labore quos rem, cupiditate molestias ut aliquam eaque.</p>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus maiores vitae est eius, necessitatibus vel labore, inventore nihil quos incidunt accusamus. Animi quis recusandae quos doloremque perferendis sapiente ad optio.</p>

		<h3>Ejemplo de un h3 muy largo para comprobar altura de línea</h3>
		<P>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident quidem doloremque necessitatibus. Recusandae sunt <a href="#">temporibus in est, ea doloremque quae,</a> id possimus, ratione perferendis, iure laborum magnam soluta repellendus atque!</p>

		<p>Lorem ipsum <em>dolor sit amet</em>, consectetur adipisicing elit. Provident quidem doloremque necessitatibus. Recusandae sunt temporibus in est, ea doloremque quae, id possimus, ratione perferendis, iure laborum magnam soluta repellendus atque! <strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident quidem doloremque necessitatibus.</strong> Recusandae sunt temporibus in est, ea doloremque quae, id possimus, ratione perferendis, iure laborum magnam soluta repellendus atque!</p>


		<h4>Ejemplo de un h4 muy largo para comprobar altura de línea</h4>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas placeat laborum unde eligendi consequuntur ullam architecto minima non, consequatur veniam cum accusantium voluptatem sed in omnis mollitia ut quasi vitae.</p>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores aliquid voluptas minus perferendis animi consectetur nemo eaque, id consequuntur. Maiores aliquid facere, illo hic quasi accusantium labore. Veniam sed, dolorum.</p>

		<h5>Ejemplo de un h5</h5>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima vel atque facilis laudantium quasi similique enim corporis veritatis quibusdam voluptates? Obcaecati quo ex quia animi, fugit, exercitationem molestias mollitia aliquam.</p>

		<h6>Ejemplo de un h6</h6>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima vel atque facilis laudantium quasi similique enim corporis veritatis quibusdam voluptates? Obcaecati quo ex quia animi, fugit, exercitationem molestias mollitia aliquam.</p>	

		<blockquote>Si la densidad en pixeles del aparato es muy diferente de aquella típica en pantalla de computadores, el "user agent" deberá reescalar los valores en pixeles. Se recomienda que la unidad de pixel refiera al número total de pixels del aparato que más se aproxime al pixel de referencia. Se recomienda también que el pixel de referencia sea el ángulo visual de un pixel en un aparato con una densidad de pixels de 96dpi y una distancia del lector del largo de un brazo. <cite>Esto es el elemento cite</cite></blockquote>
		<p>Para los desarrolladores web, esto supone que 320px es el ancho máximo en modo retrato a scale=1, y todos los dispositivos mencionados anteriormente, deben ajustarse acorde al tamaño la maquetación y las imágenes. Pero recuerda que no todos los móviles tienen el mismo ancho; debes asegurarte además que tus páginas funcionan corectamente en modo apaisado, y en dispositivos más grandes como el iPad o las tablets Android.</p>
		

		<h2>Ancho del viewport y ancho de la pantalla</h2>
		<p>Muchos sitios establecen su viewport a "width=320, initial-scale=1" para ajustarse de manera precisa a la pantalla del iPhone en modo portrait. Tal y como se menciona arriba, esto causa problemas cuando Fennec 1.0 renderiza estos sitios, especialmente en modo landscape. Para arreglar esto, Fennec 1.1 expandirá el ancho del viewport si es necesario para rellenar la pantalla a la escala requerida. Esto encaja con el comportamiento de Android y Mobile Safari, y es especialmente útil en dispositivos de gran pantalla como el iPad (el sitio de Allen Pike Choosing a viewport for iPad tiene una buena explicación para desarrolladores web).</p>
		<ul>
			<li>Item de lista</li>
			<li>Item de lista</li>
			<li>Item de lista</li>
			<li>Item de lista</li>
		</ul>
		<p>En las pantallas de 240-ppp, las páginas con initial-scale=1 serán escaladas efectivamente a un 150% tanto en Fennec como en Android WebKit. Su texto será suave y fresco, pero sus imágenes de bitmap probablemente no obtengan ninguna ventaja de la máxima resolución de la pantalla. Para obtener imágenes más finas en estas pantallas, los desarrolladores web deben diseñar imágenes - o maquetaciones completas - al 150% de sus tamaño final (o al 200%, para soportar dispositivos de 320-ppp como por ejemplo el iPhone con pantalla retina) y entonces disminuar la escala usando CSS o las propiedades del viewport.</p>
		<ul>
			<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio sit minima quis, maiores fugit corrupti eveniet ea est quas vel ullam, quibusdam autem amet, obcaecati asperiores perferendis voluptate earum quasi.</li>
			<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi deserunt, quidem reprehenderit consequuntur, eius tempora asperiores dicta, iure eaque molestiae adipisci exercitationem odio recusandae laborum dolor quis corporis molestias dignissimos.</li>
			<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam laborum autem consequatur fugiat perspiciatis quae et! Earum aperiam recusandae, aliquam id! Vero, laudantium, neque? Blanditiis beatae alias ipsam deleniti unde!</li>
			<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda distinctio praesentium molestiae, repellendus ratione ducimus amet nihil. Quas iste modi minus temporibus autem, tempore officiis velit, recusandae quis magni similique.</li>
		</ul>
		<p>La relación por defecto depende de la densidad de la pantalla. En una pantalla con una densidad inferior a 200ppp, el ratio es 1.0. En pantallas con densidades entre 200 y 300ppp, el ratio es 1.5. Para pantallas con densidades por encima de 300ppp, el ratio es el entero inferior (densidad/150ppp). Hay que observar que el ratio por defecto es cierto sólo cuando la escala del viewport es igual a 1. En cualquier otro caso, la relación entre los pixels en CSS y en el dispositivo dependen del nivel de zoom en cada momento.</p>
		<ol>
			<li>Item de lista</li>
			<li>Item de lista</li>
			<li>Item de lista</li>
			<li>Item de lista</li>
		</ol>
		<p>Fennec 1.1 también añade soporte para minimum-scale, maximum-scale y user-scalable con valores por defecto y límites similares a los de Safari. Estas propiedades afectan a la escala inicial y al ancho, además de limitar los cambios a nivel de zoom.</p>
		<ul>
			<li>Item de lista</li>
			<li>Item de lista
				<ul>
					<li>Item de lista</li>
					<li>Item de lista</li>
					<li>Item de lista</li>
					<li>Item de lista</li>
				</ul>
			</li>
			<li>Item de lista</li>
			<li>Item de lista</li>
		</ul>
		<p>Los navegadores para dispositivos móviles responden a los cambios de orientación de manera ligeramente diferente. Por ejemplo, Mobile Safari a menudo solo amplía el zoom de la página cuando se cambia la orientación portrait a la landscape, en lugar de exponer la página como si originalmente se hubiera cargado en landscape. Si los desarrolladores web quieren que su escala establecida permanezca consistente cuando cambie la orientación en un iPhone, deben añadir un valor maximum-scale para prevenir éste efecto de zoom, el cual tiene el (a veces) efecto secundario indeseado de impedir que los usuarios acerquen el zoom:</p>
		<dl>
		    <dt>Beast of Bodmin</dt>
		    <dd>A large feline inhabiting Bodmin Moor.</dd>

		    <dt>Morgawr</dt>
		    <dd>A sea serpent.</dd>
		    <dd>Another magic creature of unkown name</dd>

		    <dt>Owlman</dt>
		    <dd>A giant owl-like creature.</dd>
		</dl>
		<p>Esto no es necesario en Fennec; cuando el dispositivo cambia de orientación, Fennec actualiza el tamaño de viewport, el diseño de la página, y las propiedades de  JavaScript/CSS como device-width, basadas en las nuevas dimensiones de la pantalla.</p>
		<p>Tamaños Comunes de Viewport en Equipos Móviles y Tabletas 
		Si quieres saber qué tipo de ancho de viewport tienen los equipos móviles y tabletas, hay una lista exhaustiva aquí: mobile and tablet viewport sizes. La lista te brinda información tanto del ancho del viewport en los modos de orientación vertical y horizontal ("portrait" y "landscape"), así como del tamaño de la pantalla, sistema operativo y la densidad de píxeles del dispositivo.</p>

		<h2>Formularios</h2>
		<p>Tamaños Comunes de Viewport en Equipos Móviles y Tabletas 
		Si quieres saber qué tipo de ancho de viewport tienen los equipos móviles y tabletas, hay una lista exhaustiva aquí: mobile and tablet viewport sizes. La lista te brinda información tanto del ancho del viewport en los modos de orientación vertical y horizontal ("portrait" y "landscape"), así como del tamaño de la pantalla, sistema operativo y la densidad de píxeles del dispositivo.</p>

		<p>Tamaños Comunes de Viewport en Equipos Móviles y Tabletas 
		Si quieres saber qué tipo de ancho de viewport tienen los equipos móviles y tabletas, hay una lista exhaustiva aquí: mobile and tablet viewport sizes. La lista te brinda información tanto del ancho del viewport en los modos de orientación vertical y horizontal ("portrait" y "landscape"), así como del tamaño de la pantalla, sistema operativo y la densidad de píxeles del dispositivo.</p>

		<form action="page.php" method="GET" autocomplete="off" autofill="off">
			<input autocomplete="off" name="hidden" type="text" style="display:none;">
		  <label for="textbox">Text Box</label>
		  <input type="text" name="textbox" placeholder="Un campo de texto cualquiera" readonly>

		  <label for="email">email Input</label>
		  <input type="email" name="email" autocomplete="randomstring_askdjfhg">

		  <label for="textbox">Text Area</label>
		  <textarea name="textarea"></textarea>

		  <label for="dropdown">Dropdown</label>
		  <select id="dropdown">
		    <option value="1">Option 1</option>
		    <option value="2">Option 2</option>
		    <option value="3">Option 3</option>
		  </select>

		  <fieldset>
		  	<legend>Ejemplos de Checkbox</legend>
		  	<label for=""><input type="checkbox" name="radio"> Ejemplo radio</label>
		  	<label for=""><input type="checkbox" name="radio"> Ejemplo radio</label>
		  	<label for=""><input type="checkbox" name="radio"> Ejemplo radio</label>
		  </fieldset>

		  <fieldset>
		  	<legend>Ejemplos de Radio Button</legend>
		  	<label for=""><input type="radio" name="radio"> Ejemplo radio</label>
		  	<label for=""><input type="radio" name="radio"> Ejemplo radio</label>
		  	<label for=""><input type="radio" name="radio"> Ejemplo radio</label>
		  </fieldset>
		  

		  <label for="file">File</label>
		  <input type="file" name="file">

		  <!-- Customizado -->
			<input type="file" name="file" id="file-1" class="input-file">
			<label for="file-1"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/></svg> <span>Selecciona un archivo&hellip;</span></label>

		  <fieldset>
		  	<legend>Ejemplos de estados</legend>
		  	<label for="textbox">Text Box</label>
		  	<input type="text" name="textbox" disabled>

		  	<label for="textbox">Text Box</label>
		  	<input type="text" name="textbox" invalid>
		  </fieldset>

		  <input type="submit" value="Submit Button">
		  <input type="reset" value="Limpiar">
		  <button type="submit">Enviar</button>
		  <button type="reset">Limpiar</button>
		</form>

		<h2>Media: imágenes, vídeos e iframes</h2>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium numquam ullam officia unde, corporis dolores aspernatur! Ducimus libero, id in, molestiae cupiditate sit. Error dignissimos iusto, esse expedita temporibus placeat! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium numquam ullam officia unde, corporis dolores aspernatur! Ducimus libero, id in, molestiae cupiditate sit. Error dignissimos iusto, esse expedita temporibus placeat!</p>

		<h6>Imagen a 400px</h6>
		<img src="https://via.placeholder.com/400" alt="">

		<h6>Imagen a 2000px</h6>
		<img src="https://via.placeholder.com/2000" alt="">

		<h6>Figures con figcaption</h6>

		<figure>
			<img src="https://via.placeholder.com/400" alt="">
			<figcaption>Pie de foto muy bonito</figcaption>
		</figure>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia molestias molestiae tempore placeat quis voluptate enim suscipit nihil consequatur in ea porro veniam ratione magni, maiores quae voluptatibus delectus earum.</p>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia molestias molestiae tempore placeat quis voluptate enim suscipit nihil consequatur in ea porro veniam ratione magni, maiores quae voluptatibus delectus earum.</p>

		<h6>Vídeos propietarios</h6>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia molestias molestiae tempore placeat quis voluptate enim suscipit nihil consequatur in ea porro veniam ratione magni, maiores quae voluptatibus delectus earum.</p>

		<video src="images/placeholder-video.mov"></video>

		<figure>
			<video src="images/placeholder-video.mov"></video>
			<figcaption>Pie de foto muy bonito</figcaption>
		</figure>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit nam, temporibus quae officiis! Eos, ratione quasi asperiores, suscipit quas pariatur beatae et quo molestiae assumenda doloribus. Unde fugiat, quisquam. In.</p>

		<h6>Iframes</h6>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit nam, temporibus quae officiis! Eos, ratione quasi asperiores, suscipit quas pariatur beatae et quo molestiae assumenda doloribus. Unde fugiat, quisquam. In.</p>

		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3037.5194794845966!2d-3.709742584573733!3d40.4194946633953!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd42287c714cf51f%3A0x96aa9c31c3a2a2dd!2sCalle%20de%20las%20Veneras%2C%2028013%20Madrid!5e0!3m2!1ses!2ses!4v1577447223277!5m2!1ses!2ses" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit nam, temporibus quae officiis! Eos, ratione quasi asperiores, suscipit quas pariatur beatae et quo molestiae assumenda doloribus. Unde fugiat, quisquam. In.</p>